$mainFontFamily: 'Nunito', sans-serif;
$secondFontFamily: 'Lato', sans-serif;
$icoSize: 18px;
$padding: 1rem;

//Colors

$main-1: #7A7A7A;
$main-2: #F8475F;
$main-3: #000;
$dots: #BDBDBD;
$bar: #C0C0C0;
$newsletter: #F2F2F2;
$newsPlaceholder: #585858;
$newsTitle:#333333;
$selectedItem: #E6E8EA;

//breakpoints

$phone-320: 320px;
$phone-384: 384px;
$phone-480: 480px;
$tablet-600: 600px;
$tablet-640: 640px;
$tablet-768: 768px;
$tablet-800: 800px;
$tablet-1024: 1024px;
$desktop: 1280px;
$desktop-wide: 1440px;
