.dot-element {
    $dotSize: 10px;
  
    width: $dotSize;
    height: $dotSize;
    border-radius: 50%;
    background: $dots;
    margin-right: 0.8rem;
  
    cursor: pointer;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .dot-background {
    background: $main-2 !important;
  }
  
  .dot-container {
    display: flex;
    justify-content: center;
  
    grid-column: 1 / span 10;
    grid-row: 8;
    z-index: 19;
  
    align-self: center;
  }