.footer-container {
    background: $main-3;
    color: #FFF;
    padding: 2rem;
    align-items: center;
  
    display: flex;
    justify-content: space-between;
  }
  
  .footer-contact-container {
    width: 238px;
    h3 {
      font-size: 20px;
    }
  }
  
  .footer-bar {
    margin: 17px 0;
    height: 5px;
    background: #FFF;
    width: 45px;
  }
  
  .footer-information {
    list-style: none;
  
    li {
      font-size: 13px;
      margin-bottom: 0.5rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  .footer-button {
    background: #FFF;
    color: $main-3;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 229px;
    height: 38px;
  
    cursor: pointer;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: .3s background ease;
  
    &:hover {
      background: darken($color: rgba(255, 255, 255, 0.952), $amount: 10);
    }
  
    &:last-of-type {
      margin-bottom: 0;
    }
    img {
      width: 17px;
      position: absolute;
      top: 25%;
      left: 5%;
    }
  
    p {
      font-size: 12px;
    }
  
    .footer-button-speak {
      margin-left: 10px;
    }
  }
  
  .footer-partners-container {
    display: flex;
  }
  
  .footer-corebiz {
    margin-right: 28px;
  
    p {
      margin-bottom: 15px;
      font-size: 10.6px;
    }
  }
  
  .footer-vector {
  
    p {
      margin-bottom: 15px;
      font-size: 10.6px;
    }
  }
  
  .footer-vector {
    img {
      width: 70px;
      height: 30px;
    }
  }
  

  